---
interface Props {
    url: string;
    svg: string;
    alt: string;
}
const { alt, url, svg } = Astro.props as Props;
---

<a class="mx-8 md:mx-20 lg:mx-28" target="_blank" href={url}>
    <img class="dark:invert" width="25" height="25" src={svg} alt={alt} />
</a>
