---
import ComSvg from "./ComSvg.astro";
import Github from "./svgs/github.svg";
import Email from "./svgs/email.svg";
import Telegram from "./svgs/telegram.svg";
---

<style>
    a {
        border-bottom: 2px solid var(--normal);
    }
    a:hover {
        border-bottom: 2px solid var(--hover);
    }
</style>

<div id="footer" class="pb-20">
    <div class="flex justify-center mt-10 mb-5">
        <!--Github -->
        <ComSvg alt="Github" url="https://github.com/Pcrab" svg={Github} />
        <!-- Email -->
        <ComSvg alt="Email" url="mailto:pcrab@pcrab.xyz" svg={Email} />
        <!-- Telegram -->
        <ComSvg alt="Telegram" url="https://t.me/Pcrab" svg={Telegram} />{" "}
    </div>
    <div class="text-center">
        Copyright - © 2022 - 2023 - <a href="https://pcrab.xyz">Pcrab</a> - Powered
        by <a href="https://hexo.io">Hexo</a> &{" "}
        <a href="https://astro.build/">Astro</a>
    </div>
    <div class="flex justify-center mt-2">
        <a
            class="text-center"
            href="https://icp.gov.moe/?keyword=20237170"
            target="_blank">萌ICP备20237170号</a
        >
    </div>
</div>
