---
import Html from "@layouts/Html.astro";
import { getAllTags } from "@utils/tag/get";
const tags = getAllTags().map((tag, index) => {
    return {
        ...tag,
        display: index.toString(),
    };
});
---

<Html title="标签">
    <style>
        a {
            border: none;
        }
        a:hover {
            border: none;
        }
    </style>
    <h1 class="sm:text-4xl text-3xl sm:my-10 my-5 font-bold"># 标签</h1>
    <div class="flex flex-wrap sm:justify-unset justify-center">
        {
            tags.map((tag) => {
                return (
                    <a href={`/tag/${tag.name}/1`}>
                        <div class="m-4 px-5 py-2 bg-gray-300 dark:bg-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600 rounded-3 text-lg duration-300">
                            {tag.name}
                        </div>
                    </a>
                );
            })
        }
    </div>
</Html>
